
body {
    margin: 0;
    line-height: normal;
}

.container {
    position: relative; /* or absolute, depending on your layout needs */
    width: 316px;
    height: 406px;
    overflow: hidden; /* Optional: to ensure content does not spill outside the container */
}

.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(1, 255, 185, 0), #0dd39c);
    border: 1px solid #b4ffea;
    box-sizing: border-box;
}
.div {
    position: absolute;
    height: 56.67%;
    width: 32.3%;
    top: 23.29%;
    left: 33.98%;
    line-height: 28.8px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 0.2px rgba(0, 0, 0, 0.7);
}
.rectangle-parent {
    position: absolute;
    height: 7.41%;
    width: 92.31%;
    top: 88.83%;
    right: 4.08%;
    bottom: 3.76%;
    left: 3.61%;
}
.lorem-ipsum-dolor {
    line-height: 22px;
}
.lorem-ipsum-dolor1 {
    line-height: 26px;
}
.lorem-ipsum-dolor-sit-amet-or {
    margin-bottom: 0px;
}
.lorem-ipsum-dolor-sit-amet-er {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 16px;
}
.enim-excepteur-sint {
    margin: 0;
    line-height: 22px;
}
.lorem-ipsum-dolor-container1 {
    width: 100%;
}
.lorem-ipsum-dolor-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 247.47px;
    height: 254.07px;
}
.lorem-ipsum-dolor-sit-amet-er-wrapper {
    position: absolute;
    top: 23.81px;
    left: 0px;
    width: 247.47px;
    height: 254.07px;
}
.more-information {
    position: absolute;
    top: 0px;
    left: calc(50% - 63.18px);
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 125.29px;
    height: 20px;
}
.group-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 247.47px;
    height: 277.88px;
}
.divflash-market-available-ite-inner {
    position: absolute;
    top: 63.56px;
    left: 32.79px;
    width: 247.47px;
    height: 277.88px;
    text-align: left;
    font-size: 12px;
}
.vector-icon {
    position: absolute;
    top: 16.71px;
    left: 282.27px;
    width: 12px;
    height: 12px;
}
.divflash-market-available-ite1 {
    position: absolute;
    
    
    right: -0.32px;
    left: 0.32px;
    background-color: #1f233f;
    height: 405px;
}
.divflash-market-available-ite {
    position: absolute;
    border-radius: 10px;
    background-color: #343961;
    box-shadow: 0px 0px 4.82px #aee9ff;
    border: 2px solid #0085ff;
    box-sizing: border-box;
    width: calc(100% - 0.36px);
    top: 0.09px;
    height: 406px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: #e2e4f5;
    font-family: Poppins;
}

.my-box {
    border: 2px solid #0085ff;
    margin-top: 1px; /* Moves the box down by 1px */
  }
  
    
    
    
    
   
    
}
